.container
  %h2.text-center Login
  .jumbotron
    = form_for(:session, url: login_path) do |f|
      .row
        .col-xs-12.col-md-5
          = f.text_field :email, placeholder: 'Name or email address', class: 'form-control'
        .col-xs-12.col-md-5
          = f.password_field :password, placeholder: 'Password', class: 'form-control'
        .col-xs-12.col-md-2
          = f.submit 'Login', class: 'btn btn-success btn-block'
