Hello #{@user.name}
\
In order to reset your account password for #{Admin::Setting.app_title} please follow the link below within the next 24 hours
\
#{@password_reset_link}
\
Greetings from #{Admin::Setting.app_title}
