.container
  %h1 Account preferences
  .container
    .row
      .col-md-4.activation-tokens
        %h3 Tokens
        = render 'users/activation_tokens'
      .col-md-8
        %h3 User settings
        = render 'users/form'
